---
// Redirect root to German locale instantly
---

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/de" />
    <title>Nexor Software - Die Zukunft der digitalen Lösungen</title>
    <meta name="description" content="Transformieren Sie Ihr Unternehmen mit innovativen Softwarelösungen von Nexor Software. Expertenentwicklung, modernste Technologie, außergewöhnliche Ergebnisse." />
    <meta property="og:title" content="Nexor Software - Die Zukunft der digitalen Lösungen" />
    <meta property="og:description" content="Transformieren Sie Ihr Unternehmen mit innovativen Softwarelösungen von Nexor Software. Expertenentwicklung, modernste Technologie, außergewöhnliche Ergebnisse." />
    <meta property="og:image" content="https://oybnx5jyol.ufs.sh/f/AeQfLJScGDwy7MCKQ9mF8fnHEAdhYXjRW1Vrzbo6iOZBevJ4" />
    <meta property="og:url" content="https://nexor-software.de" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Nexor Software - Die Zukunft der digitalen Lösungen" />
    <meta name="twitter:description" content="Transformieren Sie Ihr Unternehmen mit innovativen Softwarelösungen von Nexor Software. Expertenentwicklung, modernste Technologie, außergewöhnliche Ergebnisse." />
    <meta name="twitter:image" content="https://oybnx5jyol.ufs.sh/f/AeQfLJScGDwy7MCKQ9mF8fnHEAdhYXjRW1Vrzbo6iOZBevJ4" />
    <link rel="canonical" href="https://nexor-software.de/de" />
  </head>
  <body></body>
</html>
